
      
    <!-- Clinic and Specialities -->
    <section class="section section-specialities">
        <div class="container-fluid">
            <div class="section-header text-center">
                <h2>Clinic and Specialities</h2>
            </div>
            <div class="row ">
                <div class="col-lg-4">
                    <!-- Slider -->
                    <div class="specialities-slider slider">
                        <!-- Slider Item -->
                        <div class="speicality-item text-center">
                            <div class="speicality-img">
                                <img src="assets/img/Ear2.png" class="img-fluid" alt="Speciality">
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            </div>
                            <p>Otologist</p>
                        </div>	
                        <!-- /Slider Item -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Slider Item -->
                    <div class="speicality-item text-center">
                        <div class="speicality-img">
                            <img src="assets/img/nose1.png" class="img-fluid" alt="Speciality">
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                        </div>
                        <p>Neurology</p>	
                    </div>							
                    <!-- /Slider Item -->
                </div>
                <div class="col-lg-4">
                    <!-- Slider Item -->
                    <div class="speicality-item text-center">
                        <div class="speicality-img">
                            <img src="assets/img/throat1.png" class="img-fluid" alt="Speciality">
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                        </div>	
                        <p>Orthopedic</p>	
                    </div>							
                    <!-- /Slider Item -->
                </div> 
            </div>
            <!-- /Slider -->
        </div>  
    </section>	 
    <!-- Clinic and Specialities -->
  
   
   
   