<div class="content">
    <div class="container-fluid mb-5">
        <div class="row">
            <div class=" col-lg-6 ">
                <div>
                    <img src="assets/img/hospi4.png" class="img-fluid" alt="Login">
                </div>
            </div>
            <div class=" col-lg-6 ">
                <h1>
                    Login
                </h1>
                <form #userForm="ngForm">
                    <div class ="form-group">
                        <div>
                            <label class="focus-label">Email</label>
                            <input type="text"  name = "username " [(ngModel)]="username" class="form-control " >            
                        </div>
                        <div>
                            <label class="focus-label">password</label>
                            <input type="password"  name = "password " [(ngModel)]="password" class="form-control " >            
                        </div>
                        <br>
                        <button (click)=checkLogin() class="btn btn-success "  >Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>